.wrapper {
  background-color: #f7f7f7;
}
.heading {
  font-size: var(--font-size32);
  font-weight: var(--font-weight-medium);
  padding-bottom: 50px;
  padding-top: 110px;
}
.shopping {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopping__option {
  display: flex;
  justify-content: space-between;
}

.shopping__optionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 16px;
  width: 30%;
  margin-bottom: 100px;
}

.shopping__optionItemImg {
  margin: 40px 0;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: all;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.04);
    cursor: pointer;
  }
}

.shopping__optionItemHeader {
  font-size: var(--font-size28);
  margin-bottom: 20px;
}

.shopping__optionItemBody {
  font-size: var(--font-size18);
  margin-bottom: 40px;
}
.shopping__highlight {
  font-size: var(--font-size28);
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  padding-bottom: 50px;
}
.shopping__card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 140px;
}

.shopping__cardImg {
  width: 100px;
}

/* Tablet - PC with low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .heading {
    font-size: var(--font-size28);
  }
  .shopping__optionItemHeader {
    font-size: var(--font-size24);
  }
  .shopping__optionItemBody {
    font-size: var(--font-size14);
  }
  .shopping__highlight {
    font-size: var(--font-size24);
  }
  .shopping__cardImg {
    width: 70px;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .heading {
    font-size: var(--font-size24);
  }
  .shopping__optionItemHeader {
    font-size: var(--font-size20);
  }
  .shopping__optionItemBody {
    font-size: var(--font-size12);
  }
  .shopping__highlight {
    font-size: var(--font-size20);
  }
  .shopping__option {
    flex-direction: column;
    align-items: center;
  }
  .shopping__optionItem {
    width: 90%;
    margin-bottom: 50px;
  }
  .shopping__cardImg {
    width: 60px;
  }
  .shopping__card {
    margin-bottom: 100px;
  }
}
