.wrapper {
  position: relative;
}
.container {
  background-color: #f7f7f7;
}
.content {
  display: flex;
  padding-bottom: 140px;
}
.mobile__sideNav {
  flex: 2;
  text-align: left;
}

.mobile__content {
  flex: 8;
  text-align: left;
}

/* Tablet - PC with low resolution */
@media (max-width: 1023px) {
  .content {
    flex-direction: column;
  }
  .mobile__sideNav,
  .mobile__content {
    flex: 1;
  }
}
