.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__1 {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 50px;
}

.footer__contact {
  flex: 1;
}

.footer__contactPhone {
  text-align: left;
  display: flex;
  align-items: center;
  font-size: var(--font-size20);
  transition: transform ease 300ms;
  &:hover {
    cursor: pointer;
    transform: translate(0, -10px);
  }
}

.footer__contactPhoneIcon {
  border-right: 1px solid #e7e7e7;
}

.footer__contactPhoneIconImg {
  width: 70px;
}

.footer__contactPhoneInfo {
  margin-left: 20px;
}

.footer__contactPhoneInfoTitle {
  font-size: var(--font-size18);
  color: #120fbf;
}

.footer__contactPhoneInfoPhone {
  font-size: var(--font-size28);
}

.footer__contactAddr {
  font-size: var(--font-size14);
  text-align: left;
  margin-top: 50px;
}

.footer__contactIcon {
  display: flex;
  font-size: var(--font-size20);
  margin-top: 50px;
}

.footer__contactIconItem {
  width: 50px;
  height: 50px;
  margin-right: 30px;
  margin-bottom: 40px;
  padding: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
    color: #120fbf;
    border-color: #120fbf;
  }
}

.footer__contactInfo {
  display: flex;
}

.footer__contactList {
  text-align: left;
  margin: 0 70px;
}

.footer__contactListTitle {
  color: #2a27e9;
  font-size: var(--font-size14);
  margin-bottom: 20px;
}

.footer__contactListItem {
  font-size: var(--font-size14);
  padding: 10px 0;
  &:hover {
    cursor: pointer;
    color: #120fbf;
  }
}

.footer__author {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.footer__authorTitle {
  font-size: var(--font-size14);
}

.footer__authorIcon {
  display: flex;
}

.footer__authorIconItem {
  padding: 0 10px;
  font-size: var(--font-size14);
}

/* Tablet - PC with low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .footer__1 {
    flex-direction: column;
    align-items: center;
  }
  .footer__contactIcon {
    justify-content: center;
  }
  .footer__contactInfo {
    display: flex;
  }
  .footer__authorIcon {
    flex-wrap: wrap;
  }
  .footer__authorIconItem {
    width: 25%;
  }
}
/* Mobile */
@media (max-width: 739px) {
  .footer__1 {
    flex-direction: column;
    align-items: center;
  }
  .footer__contactIcon {
    justify-content: center;
  }
  .footer__contactInfo {
    display: flex;
    flex-direction: column;
  }
  .footer__authorIcon {
    flex-wrap: wrap;
  }
  .footer__contactAddr {
    padding: 0 5px;
  }
  .footer__authorIconItem {
    width: 25%;
  }

  .footer__contactList {
    text-align: center;
    margin: 20px 50px;
  }
  .footer__contactListTitle {
    margin-bottom: 10px;
  }
  .footer__author {
    flex-direction: column;
  }
  .footer__author {
    margin: 50px 0 100px 0;
  }
  .footer__authorTitle {
    padding: 0 5px;
  }
}
