.wrapper {
  position: relative;
  z-index: 99;
  width: 100%;
  height: 190px;
  background-color: #fff;
}

.overlay {
  position: absolute;
  z-index: 97;
  top: 100%;
  bottom: -1000%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  animation: fadeIn linear 0.2s;
}

.header__1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  background-color: #f7f7f7;
  transition-timing-function: ease-in;
  transition: smoothing-out;
  width: 100%;
}
.header__1-des {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #797979;
}

.header__1-label {
  display: block;
  font-size: var(--font-size14);
}

.clearFix::before,
.clearFix::after {
  content: "";
  display: table;
  clear: both;
}

.header__1-nav {
  font-size: var(--font-size14);
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.header__1-nav-Item,
.nav2 {
  border-radius: 5px;
  background-color: #fff;
  text-align: left;
  box-shadow: 3px 5px 5px #888888;
}

.header__1-nav > ul {
  float: left;
  position: relative;
}
.header__1-navItem {
  float: left;
  position: relative;
}

.header__1-nav > li span {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 0;
}

.header__1-nav > li span:hover {
  cursor: pointer;
  color: #120fbf;
}

.header__1-nav ul {
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  min-width: 220px;
  display: none;
}

.header__1-nav ul ul {
  top: 0;
  left: 100%;
}

.header__1-nav li:hover > ul {
  display: block;
}

.nav2-item {
  padding: 20px 0;
  &:hover {
    cursor: pointer;
    color: #120fbf;
  }
}

.header__2 {
  width: 100%;
  position: fixed;
  z-index: 98;
  background-color: #fff;
}
.header__2-des {
  display: flex;
  flex-direction: column;
}

.header__2-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 74px;
}

.header__2-title-logo {
  display: flex;
  justify-content: flex-start;
  margin-right: 50px;
  cursor: pointer;
}

.header__2-title-search {
  display: flex;
  align-items: center;
  flex: 1;
  border: 1px solid #e7e7e7;
  background-color: transparent;
  border-radius: 7px;
  padding: 5px 5px;
  &:focus-within {
    border-color: #004eff;
    background-color: #f4f7f9;
  }
}

.header__2-title-searchIcon {
  font-size: var(--font-size16);
  width: 50px;
}

.header__2-title-searchInput {
  font-size: var(--font-size16);
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  &::placeholder {
    color: #eeeeee;
  }
  &:focus {
    background-color: #f4f7f9;
    &::placeholder {
      color: #6d73c0;
    }
  }
}
.header__2-title-contact {
  display: flex;
  margin-left: 50px;
  justify-content: flex-end;
}

.header__2-title-contactItem {
  display: flex;
  padding: 0 10px;
  cursor: pointer;
  &:hover .header__2-title-ctInfoTitle {
    color: #612eea;
  }
}

.header__2-title-ctIcon {
  width: 40px;
}
.header__2-title-ctInfo {
  font-size: var(--font-size14);
  text-align: left;
}

.header__2-bottom {
  width: 100%;
}

.header__2-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__2-menuItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  flex: 1;
  padding: 10px 0;
  font-size: var(--font-size16);
  font-weight: var(--font-weight-medium);
  color: var(--text-color-black);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 3px;
    background-color: #004eff;
    transition: width 0.1s ease-in;
  }
  &:hover::after {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    color: #120fbf;
  }
}

.header__2-menuItemName {
  padding: 0 10px;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 250px;
  background-color: #fff;
  margin: 20px 0;
}

.menuItem__list {
  font-size: var(--font-size18);
  color: var(--text-color-black);
  width: 100%;
}
.menuItem__listItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.menuItem__listItemSub {
  position: relative;
  padding: 10px 0;
  font-size: var(--font-size24);
  color: var(--text-color-black);
  width: 100%;
  text-align: left;
  &:hover {
    cursor: pointer;
    color: #120fbf;
  }
}

.crossBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5px;
  background-color: gray;
}
.menuItem__info {
  display: flex;
  align-items: center;
  background-color: rgb(247, 232, 232);
  border-radius: 10px;
  padding: 0 30px;
  width: 400px;
}
.menuItem__infoTitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px;
}

.menuItem__infoName {
  font-size: var(--font-size28);
  font-weight: var(--font-weight-bold);
  margin-bottom: 2px;
}
.menuItem__infoDesc {
  font-size: var(--font-size20);
  font-weight: var(--font-weight-medium);
  margin-bottom: 15px;
}
.menuItem__infoBtn {
  font-size: var(--font-size16);
  background-color: #2a27e9;
  padding: 10px 30px;
  color: var(--text-color-white);
  font-weight: var(--font-weight-bold);
  border-radius: 5px;
  border: none;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.mediaNav {
  display: flex;
}
.mediaNavIcon {
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  display: none;
}
.navMedia {
  position: fixed;
  top: 0;
  z-index: 99;
  right: 0;
  bottom: 0;
  width: 300px;
  background-color: #fff;
  text-align: right;
  transform: translateX(100%);
  opacity: 0;
  transition: all linear 0.3s;
}
.navMediaInput:checked ~ .navMedia {
  transform: translateX(0);
  opacity: 1;
}

.navMediaBtnClose {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  font-size: var(--font-size28);
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
.navMediaList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 200px;
}

.navMediaItem {
  display: flex;
  align-items: flex-start;
  font-size: var(--font-size20);
  padding: 10px 0;
}

.navMediaItemIcon {
  margin-left: 50px;
  margin-right: 10px;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .wrapper {
    height: 150px;
  }
  .mediaTablet {
    display: none;
  }
  .header__1-label {
    display: none;
  }
  .header__2-bottom {
    display: none;
  }
  .mediaNavIcon {
    display: block;
  }
}
/* Mobile */
@media (max-width: 739px) {
  .wrapper {
    height: 80px;
  }
  .mediaTablet {
    display: block;
  }
  .header__1 {
    display: none;
  }
  .header__2-bottom {
    display: none;
  }
  .header__2-title-search {
    display: none;
  }
  .header__2-title-ctInfoTitle,
  .header__2-title-ctInfoDesc {
    display: none;
  }
  .header__2-title-logo {
    width: 100px;
  }
  .mediaNavIcon {
    display: block;
  }
  .header__2-title-contact {
    margin-left: 10px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
