.wrapper {
  margin-top: 165px;
  margin-left: 30px;
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size16);
  color: #a8a8a8;
}

.title__showItem {
}

.title__list {
  display: flex;
}

.title__listShow {
  display: flex;
}

.title__listShowItem {
  margin: 0 5px;
  padding: 0 3px;
  &:hover {
    cursor: pointer;
  }
}

.title__listTableImg {
  color: black;
}

.title__select {
  border: none;
  background-color: transparent;
  font-size: var(--font-size16);
  margin-left: 10px;
  width: 140px;
}

.content {
  display: flex;
}

.content__list {
  display: flex;
  margin-top: 50px;
}

.content__item {
  margin-right: 20px;
}

/* Mobile */
@media (max-width: 739px) {
  .content {
    display: flex;

    justify-content: center;
  }
  .title {
    font-size: var(--font-size12);
  }

  .content__list {
    flex-direction: column;
  }
  .content__item {
    margin-right: 0;
  }
  .title__showItem {
    display: none;
  }
}
